<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/css/main.css">
    <link rel="stylesheet" href="/bootstrap/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body ng-controller="MyController">
    <div id="wrapper">
      <!-- Header-->
      <header id="header">
        <div class="logo"><span class="icon fa-calendar"></span></div>
        <div class="content">
          <div class="inner">
            <h1>Planner</h1>
            <p>Plan Your Perfect Day</p>
          </div>
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/planner">Planner</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
          </ul>
        </nav>
      </header>
      <body>
          <h1>Unixcorn
  <p>Team Unixcorn is awesome!</p><img src="/images/gelicorn.png" alt="Geli" style="width:304px;height:228px;">
  <h2>Angelica</h2>
  <p>Team Leader and Unixcorn made out of Tiny Marshmallow Demons</p>
  <p>Contact me at: aleyvamcmurtry@mills.edu</p><img src="/images/natuni.png" alt="Geli" style="width:304px;height:228px;">
  <h2>Natasha</h2>
  <p>Back-end Magician and Unixcorn made out of Unity</p>
  <p>Contact me at: nculbreth@mills.edu</p><img src="/images/karena.png" alt="Geli" style="width:304px;height:228px;">
  <h2>Karena</h2>
  <p>Front-end Artist and Unixcorn made out of Awesome Hair</p>
  <p>Contact me at: khuang@mills.edu</p><img src="/images/madiuni.png" alt="Geli" style="width:304px;height:228px;">
  <h2>Madison</h2>
  <p>Problem Solver and Unixcorn made out of Stars</p>
  <p>Contact me at: mahamilton@mills.edu</p>
</h1>
      </body>
       <!-- Footer-->
      <footer id="footer">
        <p class="copyright">© Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
      </footer>
    </div>
    <!-- BG-->
    <div id="bg"></div>
    <!-- Scripts-->
    <!--/node_modules/angular/angular.min.js-->
    <script src="/bootstrap/js/skel.min.js"></script>
    <script src="/bootstrap/js/util.js"></script>
    <script src="/bootstrap/js/main.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular/plannerApp.js"></script>
  </body>
  <!--   style.body{background-image: url(/public/bootstrap/images/overlay.png);}-->
</html>