<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/css/main.css">
    <link rel="stylesheet" href="/bootstrap/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body ng-controller="MyController">
    <div id="wrapper">
      <!-- Header-->
      <header id="header">
        <div class="logo"><span class="icon fa-calendar"></span></div>
        <div class="content">
          <div class="inner">
            <h1>Planner</h1>
            <p>Plan Your Perfect Day</p>
          </div>
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/planner">Planner</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
          </ul>
        </nav>
      </header>
      <body>
      <h1>Login Here Coming Soon
  <!--create user name-->
  <!--password-->
  <form ng-app="myApp" ng-controller="MyController" name="myForm" novalidate="">
    <p>Username:<br>
      <input type="text" name="user" ng-model="user" required="">
      <span style="color:red" ng-show="myForm.user.$dirty &amp;&amp; myForm.user.$invalid">
        <span ng-show="myForm.user.$error.required">Username is required.</span></span>
    </p>
    <p>Password:<br>
      <input type="text" name="password" ng-model="password" required="">
      <span style="color:red" ng-show="myForm.password.$dirty &amp;&amp; myForm.password1.$invalid">
        <span ng-show="myForm.password.$error.required">Password is required.</span></span>
    </p>
    <p>
      <input type="submit" ng-disabled="myForm.user.$dirty &amp;&amp; myForm.user.$invalid || myForm.password1.$dirty &amp;&amp; myForm.password1.$invalid">
    </p>
  </form>
</h1>
    
      </body>
      
      <!-- Footer-->
      <footer id="footer">
        <p class="copyright">© Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
      </footer>
    </div>
    <!-- BG-->
    <div id="bg"></div>
    <!-- Scripts-->
    <!--/node_modules/angular/angular.min.js-->
    <script src="/bootstrap/js/skel.min.js"></script>
    <script src="/bootstrap/js/util.js"></script>
    <script src="/bootstrap/js/main.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular/plannerApp.js"></script>
  </body>
  <!--   style.body{background-image: url(/public/bootstrap/images/overlay.png);}-->
</html>