doctype html
html(ng-app="myApp")

extends layout

block content

      doctype html
      html(ng-controller='MyController')
        head 
           
            p Input your price range below
              label.radio-inline
              input(type='radio', ng-model="opr2", value="vol1")
              //, name='optradio', ng-model='opr1', ng-checked='model',
              | Cheap: $15 and under 
              label.radio-inline
              
              input(type='radio', ng-model="opr2", value="vol2")
              | Less Cheap: $16-30
              label.radio-inline
              input(type='radio', ng-model="opr2", value="vol3")
              | Expensive: $30+
            nav
              p Distance you're able to travel
               label.radio-inline
              input(type='radio', ng-model="opr3", value="vol1")
              //, name='optradio2', ng-model='disopr1', ng-checked='model',
              | Walking Distance: under a mile  
              label.radio-inline
              input(type='radio', ng-model="opr3", value="vol2")
              | A Short Drive: under 25 miles 
              label.radio-inline
              input(type='radio', ng-model="opr3", value="vol3")
              | Road Trip: 25+ miles 


            nav  
              h1 Choose your rating
              fieldset.rating
                input#star5(type='radio', name='rating', value='5')
                label.full(for='star5', title='Awesome - 5 stars')

                input#star4(type='radio', name='rating', value='4')
                label.full(for='star4', title='Pretty good - 4 stars')

                input#star3(type='radio', name='rating', value='3')
                label.full(for='star3', title='Meh - 3 stars')
                
                input#star2(type='radio', name='rating', value='2')
                label.full(for='star2', title='Kinda bad - 2 stars')

                input#star1(type='radio', name='rating', value='1')
                label.full(for='star1', title='Sucks big time - 1 star')
                

            nav
              p Minimum Length of Activity
          
                input(type='text', name='minimum', ng-model= 'min')
                
              p Minutes/Hours
              
                input(type='text', name='minutesHours1', ng-model= 'minutesHours1')
            nav
              p Maximum Length of Activity
              
                input(type='text', name='maximum', ng-model= 'max')
                
              p Minutes/Hours
              
                input(type='text', name='minutesHours2', ng-model= 'minutesHours2')
                 
            nav 
              p Time Activity Begins
                select(ng-model='selectedTimeBegin', ng-options='x.time for x in times')
                h1 Begin time: {{selectedTimeBegin.hour}}:{{selectedTimeBegin.minutes}}
                
                
              p AM/PM
                select(ng-model='selectedTimeActivityBegins', ng-options='x.timeAMPM for x in amOrPm')
                h1 You selected: {{selectedTimeActivityBegins.timeAMPM}}
            
            nav     
              p Time Activity Ends by
                select(ng-model='selectedTimeEnd', ng-options='x.time for x in times')
                h1 End time: {{selectedTimeEnd.hour}}:{{selectedTimeEnd.minutes}}
                
               p AM/PM
                select(ng-model='selectedTimeActivityEnds', ng-options='x.timeAMPM for x in amOrPm')
                h1 You selected: {{selectedTimeActivityEnds.timeAMPM}}
            nav
              p Please choose a way to Travel:
              select(ng-model='selectedTransportation', ng-options='x.transport for x in transportation')
              h1 You selected: {{selectedTransportation.transport}}
                  
            nav
              div(ng-app='')
                p
                   
                   h1 Your zipcode is {{zipcode}}
                   | Zipcode : 
                   input(type='text', ng-model='zipcode')
            nav
              div(ng-app='')
                p How many people are attending?
                  p Adults
                    input(type='text', name='adults', ng-model= 'adults')
                  p Children
                    input(type='text', name='children', ng-model= 'children')
                  p Students
                    input(type='text', name='students', ng-model= 'students')
                  p Eldery
                    input(type='text', name='eldery', ng-model= 'eldery')
            nav  
              button.button.button-clear.button-positive.icon-right(ng-click='isOpen = !isOpen', 
                  ng-class="!isOpen ? 'ion-ios-arrow-down' : 'ion-ios-arrow-up'")
                span(ng-show='!isOpen') Results
                span(ng-show='isOpen') Change Results
                div(ng-show='isOpen' ng-model='msg')
                  p(ng-model = "resultsForPlanner()") 
                    {{msg}}
            

  script(src='/node_modules/angular/myApp.js')
  // script(language='JavaScript' src='/public/javascripts/results.js')
  // script(language='JavaScript'  src='/public/bootstrap/js/results.js')